.prod-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.prod {
    background-color: white;
    border-radius: 10px;
    margin: 90px;
    padding: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.prod img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.prod a{
    background-color: #4CAF50;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 50px;
    

}
.prod a:hover{
    background-color: #45a049;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
}

/* Header */
header {
    background-color: #840070;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    margin-top: 30px;
}